{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}
{% block body %}

    Home <br>
    Kamers
    <hr>
    Login <br>
    Register
    <hr>
    Mijn gegevens

    <h1>Hotel Stardust</h1>

{% endblock %}